.el-table__body tr,
.el-table__body td,
.el-table__header tr,
.el-table__header th {
  background-color: #000 !important;
  color: #fff !important;
}
.el-table {
  width: 100%;
  border: none;
  z-index: 0;
  @apply bg-black text-white;
  --el-table-bg-color: #000000;
  --el-table-tr-bg-color: #000000;
  --el-table-header-bg-color: #000000;
  --el-table-row-hover-bg-color: #18181b; // zinc-900
  --el-table-border-color: #3f3f46; // zinc-700
  --el-table-text-color: #ffffff;
  --el-table-header-text-color: #a1a1aa; // zinc-400
}

.el-table .table-actions {
  @apply flex items-center justify-end;
}

.el-table thead tr th:first-child,
.el-table tbody tr td:first-child {
  @apply pl-4;
}

.el-table thead tr th:last-child,
.el-table tbody tr td:last-child {
  @apply pr-4;
}

.el-table thead tr th,
.el-table tbody tr td,
.el-table td,
.el-table th.is-leaf {
  border: none;
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  @apply border-b border-b-zinc-700;
}

.el-table .cell {
  padding: 0 10px;
}

.el-table thead tr th {
  @apply font-semibold uppercase text-zinc-400 tracking-wider text-2xs leading-4.5 h-14 bg-black;
}

.el-table .sort-caret.ascending {
  @apply border-b-zinc-600;
  top: -7px;
}
.el-table .sort-caret.descending {
  @apply border-t-zinc-600;
  bottom: -4px;
}
.el-table .ascending .sort-caret.ascending {
  @apply border-b-orange-500 #{!important};
}
.el-table .descending .sort-caret.descending {
  @apply border-t-orange-500 #{!important};
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: #3f3f46; // zinc-700
}

.el-table--border::after,
.el-table--group::after {
  @apply w-0;
}

.el-table--border {
  .el-table__cell {
    @apply border-none;
  }
  .el-table__inner-wrapper::after {
    display: none;
  }
}

.el-table--striped
  .el-table__body
  tr.el-table__row--striped.current-row
  td,
.el-table__body tr.current-row > td,
.el-table__body tr.hover-row.current-row > td,
.el-table__body
  tr.hover-row.el-table__row--striped.current-row
  > td,
.el-table__body tr.hover-row.el-table__row--striped > td,
.el-table__body tr.hover-row > td {
  @apply bg-zinc-900;
}

.el-table tr.is-selected,
.el-table tr.is-selected .el-table-fixed-column--left,
.el-table tr.is-selected .el-table-fixed-column--right {
  background-color: #3f3f46; // zinc-700
}

.el-table.is-scrolling-left.el-table--border
  .el-table-fixed-column--left.is-last-column.el-table__cell {
  @apply border-r-0;
}

.el-table__cell * {
  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.app-list-table {
  @apply relative;
  .el-table {
    @apply mt-0 border-t-0;

    .el-table-column--selection {
      .cell {
        @apply p-0 pl-4;
      }
    }
  }

  &:not(.not-clickable) .el-table .hover-row {
    cursor: pointer;
  }
}

.app-list-table-bulk-actions {
  @apply flex items-center justify-start absolute top-0 right-0 z-10 bg-zinc-900 rounded-tr-xl p-2 border-b border-zinc-700;
  height: calc(56px - 1px);
  width: calc(100% - 75px);
}

.el-table--border .el-table__cell,
.el-table-fixed-column--left.is-last-column.el-table__cell {
  @apply border-r-0 #{!important};
}
