// Make all el-tabs tab items white by default, not just active
.el-tabs {
  &__header {
    @apply m-0 border-none #{!important};
  }
  &__active-bar {
    @apply bg-orange-500 #{!important};
  }
  &__content {
    @apply overflow-visible;
  }
  &__item {
    @apply font-normal text-white px-4 font-mono #{!important};
    transition: all 0.2s ease;
    &.is-active {
      @apply font-medium text-white #{!important};
    }
    &:hover {
      @apply text-orange-500 #{!important};
    }
    &:focus.is-active.is-focus:not(:active) {
      box-shadow: none;
    }
  }
}
