.el-timeline {
  &-item {
    @apply relative flex items-start pb-8;

    &__tail {
      @apply border-zinc-800;
      left: 16px;
      top: 34px;
      height: calc(100% - 34px)
    }

    &__dot {
      @apply relative;
    }

    &__wrapper {
      @apply top-0 pl-4 w-full;
    }
    &__content {
      @apply bg-black;
    }

    &:last-of-type {
      @apply pb-0;
    }
  }
}